*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  color: black;
}

body {
  width: 1202px;
  height: auto;
  margin: 10px auto 0px;
  /*border: 1px solid black;*/
}

h1 {
  font-size: 50px;
  font-weight: 800;
  margin-left: 5%;
  padding-top: 170px;
  color: white;
}

h2 {
  font-size: 40px;
  font-weight: 600;
  margin-left: 5%;
  margin-top: 25px;
}

h3, ul {
  font-size: 26px;
  font-weight: 300;
  margin-left: 10%;
}

footer {
  background-color: #121212;
  padding-bottom: 25px;
  font-size: 24px;
  font-weight: 800;
  color: #f9e42e;
  height: auto;
  text-align: center;
  padding-top: 30px;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.image1 {
  width: 1200px;
  height: 700px;
  margin: 0px;
  background-image: url(./images/header_bg.jpg);
  background-size: cover;
  }

.image2 {
    width: 1200px;
    height: 384px;
    margin: 0px;
    background-image: url(./images/testimonial_bg.jpg);
    background-size: cover;
    }


.tagline {
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  color: white;
}

.tagline2{
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  color: white;
}

.button1 {
  width: 150px;
  margin: auto;
  text-align: center;
  border-radius: 5px;
  color: #033048;
  font-size: 14px;
  font-weight: 800;
  background: #f9e42e;
  padding: 10px 20px 10px 20px;

}

.button1:hover {
  background: #033048;
  color: white;
}

.button2 {
  width: 150px;
  margin: auto;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  font-weight: 800;
  background: #033048;
  padding: 10px 20px 10px 20px;

}

.button2:hover {
  background: #f9e42e;
  color: black;
}

.benefits {
  background-color: white
  height: auto;
  /*border: 1px solid black;*/
  color: #606161;
  margin-top: 25px;
  padding-bottom: 10%;
}

.testimonial {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  width: 37%;
  margin: auto;
  color: white;
  padding-top: 100px;
}

.author {
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
  padding-left: 55%;
  color: white;
}

.sign-up {
  background-color: #f9e42e;
  height: 75px;
}

#top-page {
  margin-top:0px;
}



#copyright {
  color: white;
  text-align: center;
  font-size: 9px;
  font-weight: 600;
}

#twitter {
  float: left;
  width: 43px;
  height: 37px;
  padding: 2 0 0 2;
  margin-left: 45%;
}

#facebook {
  float: right;
  width: 43px;
  height: 37px;
  padding-right: 13px;
  padding-left: 13px;
  margin-right: 45%;
}
