/*************************
** BASE SETUP
**************************/

*, *:before, *:after {
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*************************
** BASE ELEMENT STYLES
**************************/

html {
  font-family: 'Open Sans', sans-serif;
  color: black;
}

header {
  border: 1px solid black;
  width: 1202px;
  height: auto;
  background-color: #033048;
  color: white;
  font-size: 40px;
  font-weight: 800;
  padding-left: 15%;
}

h2 {
  font-weight: 600;
  font-size: 45px;
  text-align: left;
}

body {
  width: 1202px;
  height: auto;
  margin: 10px auto 0px;
  border: 1px solid black;
  background-color: #f0efef;
  color: #033048;
}

footer {
  background-color: #121212;
  padding-bottom: 25px;
  font-size: 40px;
  font-weight: 800;
  color: #f9e42e;
  height: auto;
  text-align: center;
}


/*************************
** BASE CLASS STYLES
**************************/

.blogpost {
  border: 1px solid black;
  float: left;
  width: 63.5%;
  height: auto;
  padding: 0px 30px 0px 30px;
  margin-left: 8%;
  border-bottom: 3px solid #033048;
}

.blogimage {
  text-align: center;
  width: 700px;
  height: 280px;
}

.blogtext {
  width: 700px;
  height: auto;
}

.blog-read-more{
  text-align: right;
  font-size:
}

.sidebar {
    border: 1px solid black;
    float:right;
    width: 17%;
    height: auto;
    margin-right: 8%;
}

.sidebar-title {
  text-align: center;
  font-size: 23px;
  font-weight: 800;
}

.sidebar-text {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
}

.ad-space {
    border: 1px solid black;
    float:right;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    height: 375px;
    text-align: center;
    background: url(./images/ad-unit.png) no-repeat;
    background-size: cover;
}



/*************************
** BASE ID STYLES
**************************/
